.advertise_main{
    display: flex;
    justify-content: center;
    position: relative;
    margin:0 auto;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    font-size:0.8em;
}

.advertise_box{
    display: flex;
    flex-direction: row;
    width:98%;
    height:40px;
    background: linear-gradient(45deg, #35c0e8 0%, #007bc7 100%) 0 0 / 300% no-repeat;
    animation: gradient_animation 4s ease infinite;
    color:white;
    font-family: 'SBAggroM', sans-serif;
    padding-left: 6px;
    border-radius: 5px;
}

.advertise_title {
    height: 40px;
    line-height: 42px;
}

.advertise_img {
    position: absolute;
    top: 1px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.advertise_title_text {
    margin-left: 53px;
}

.recruit_main{
    position: relative;
    margin:0 auto;
    margin-top: 10px;
    width: 100%;
    padding-left:10px;
    padding-right: 10px;
	z-index: 70;
	overflow:hidden;
}

.recruit_desc{
	z-index: 100;
}

.recruit_title{
    margin-top: 10px;
    width: 100%;
    position: relative;
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'SBAggroM', sans-serif;
    background: rgba(255,255,255,0.7);
}

.recruit_title > .main {
    color: var(--color-main);
}

.tag_main{
    margin-top:5px;
    position: relative;
    line-height: 30px;
}

@mixin tag {
    margin-right:3px;
    background: var(--color-main);
    padding:5px;
    color:white;
    border-radius: 2px;
    font-family: 'SBAggroL', sans-serif;
    font-weight: 600;
}

.tag{
    @include tag;
    font-size: 0.73em;
}

.tag_small{
    @include tag;
    padding:4px;
    font-size: 0.8em;
}

.recruit_description{
    position: relative;
	width: 98%;
    margin-top:10px;
    font-size: 0.9em;
    font-family: 'SBAggroM', sans-serif;
	background: white;
	padding: 2px;
	background-color: rgba( 255, 255, 255, 0.7 );
	border-radius: 5px;
}

.recruit_description.first{
    margin-top: 20px;
}

.recruit_description.last{
    margin-bottom: 50px;
}

.recruit_description > .main {
    color: #007bc7;
}

.short_phrase{
    position: absolute;
    top:30px;
    right:0px;
    z-index: 99;
    font-family: 'UhBeeann', sans-serif;
    font-size: 3.0em;
}

.logo_box{
    position: absolute;
    bottom:0px;
    right:0px;
    padding: 0px;
    z-index: 99;
}

@mixin box_header{
    position: relative;
    margin:0 auto;
    font-family: 'SBAggroL', sans-serif;
    width:100%;
}

@mixin box_main{
    position:relative;
    margin-top:0px;
    width: 100%;
    padding-left:10px;
    padding-right:10px;
}

.card_main{
    @include box_main;
    margin-top:14px;
}

.card_slider_subheader{
    @include box_header;
    font-size:0.7em;
}

.card_slider_header{
    @include box_header;
    margin-bottom: 10px;
    font-size:1.2em;
}

.card_slider_header_more{
    position:absolute;
    right:0px;
    bottom:5px;
    font-size:0.7em;
    font-weight:bold;
    cursor:pointer;
}

.card_slider_header_more:hover{
    color: var(--color-main);
    transition: ease-in-out 0.1s;
}

.industry_main{
    @include box_main;
    margin-top: 14px;
    width: 100%;
}

.industry_header{
    @include box_header;
    font-size:1.2em;
    margin-bottom: 20px;
}

.industry_body{
    display: flex;
    flex-direction: column;
    position: relative;
    margin:0 auto;
    width: 100%;
    border:1px #eee solid;
}

.industry_body > .box {
    position: relative;
    width: 100%;
}

.industry_body > .box > .header {
    padding-left:9px;
    line-height: 40px;
    text-align: left;
    font-family: 'SBAggroM', sans-serif;
    font-size: 0.9em;
}

.industry_body > .box > .header > .text{
    padding:5px;
    background: var(--color-main);
    color: white;
    border-radius: 2px;
}

.industry_body > .box > .body {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
}

.industry_body > .box > .body > .description_box {
    margin-top:10px;
    width: 50%;
}

.industry_body > .box > .body > .description_box > .description {
    margin-top: 10px;
    margin-left:30px;
    line-height: 25px;
    font-family: 'SBAggroM', sans-serif;
}

.industry_body > .box > .body > .img_box {
    display: flex;
    justify-content: center;
    width: 50%;
}

.industry_body > .box > .body > .img_box > img {
    width: 98%;
}

@keyframes zoom_animation {
	0%{
		opacity:0;
		transform: scale(0.6);
	}
	80%{
        opacity:1;
		transform: scale(1.2);
	}
	100%{
        opacity:0;
		transform: scale(1);
	}
}

@keyframes gradient_animation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
