.intro{
    position:relative;
    margin:0 auto;
    width:1124px;
}

.introbox {
    margin-top:20px;
}

.introbox_header {
    margin-top:40px;
    width:1124px;
    height:20px;
    line-height:20px;
    color:black;
    font-size:1.3em;
    text-align:center;
}

.introbox_label {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.introbox_label > img {
    width: 1000px;
    height: 536px;
    border-radius: 20px;
}
