@keyframes circle_animation {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(var(--color-red-rgba), 0.5);
        box-shadow: 0 0 0 0 rgba(var(--color-red-rgba), 0.5);
      }
      50% {
        -moz-box-shadow: 0 0 0 20px rgba(var(--color-red-rgba), 0.0);
        box-shadow: 0 0 0 20px rgba(var(--color-red-rgba), 0.0);
      }
      100% {
        -moz-box-shadow: 0 0 0 0px rgba(var(--color-red-rgba), 0.0);
        box-shadow: 0 0 0 0px rgba(var(--color-red-rgba), 0.0);
      }
}
