.image_slider{
    position:relative;
    width:100%;
    min-width:1024px;
    height:350px;
    background:#f6fbff;
    text-align:center;
    font-size:0.8em;
    color:white;
    overflow-y:hidden;
    animation: fadeshow 1s;
    z-index:6;
}

.slider_item{
    position:relative;
    width:100%;
}

.carousel-item{
    transition: transform 0.5s ease, opacity .5s ease-out
}

@keyframes fadeshow {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}