.space_container{
    position:relative;
    padding-top:20px;
    padding-bottom:60px;
    width:100%;
    height:470px;
    background:#F6F6F6;
    border-width:0px;
    text-align:center;
    opacity:0.8;
}

.space_header{
    line-height:100px;
    color:black;
    font-size:1.3em;
}

.space_main{
    width:1124px;
    height:280px;
    border-width:0px;
    padding-left:26px;
    margin:0 auto;
    text-align:center;
}

.space_img{
    border-radius: 8px;
    overflow:hidden;
    opacity:1.0;
}

.space_item:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.space_text{
    position:relative;
    margin:0 auto;
    top:-150px;
    font-size:1em;
    color:white;
    font-weight: bold;
    width:150px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.space_item{
    top:0px;
    opacity:1;
    position:relative;
    float:left;
    padding-right:70px;
    cursor:pointer;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.space_item.active{
    top:0px;
    opacity:1.0;
}