<script type="text/javascript" src="/editor/js/HuskyEZCreator.js" charset="utf-8"></script>

<div class="ui container">
<form class="ui form" action="/api/addConstruct" method="POST">
<div class="field" style="margin-top:20px">
<label>제목</label>
<input type="text" class="form-control" id="subject" name= "subject">
</div>
<div class="field" style="margin-top:10px">
    <label>태그</label>
    <select name="tags" multiple="" class="ui fluid dropdown" id="tag_select">
              <option value="">태그선택</option>
    </select>
</div>
<div class="field" style="margin-top:10px">
    <label>공간</label>
    <select name="space" multiple="" class="ui fluid dropdown" id="space_select">
              <option value="">공간선택</option>
    </select>
</div>
<div class="field" style="margin-top:10px">
            <label>메인사진</label>
            <div class="content">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" id="mainImage" type='file' onchange="readImage(this);" accept="image/*" />
                    <div class="drag-text">
                      <h3>이미지를 드래그하세요.</h3>
                    </div>
                </div>
                  <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                         <button type="button" onclick="removeUpload()" class="remove-image">제거하기 <span class="image-title">Uploaded Image</span></button>
                    </div>
                  </div>
            </div>
</div>
<div class="field" style="margin-top:10px">
        <label>내용</label>
<textarea name="ir1" id="ir1" rows="10" cols="100" style="width:100%; height:412px; display:none;"></textarea>
<!--<input type="hidden" class="form-control" id="contents" name="contents">-->
</div>
<div class="field" style="margin-top:20px;text-align: center">
<button type="button" onclick="constructRegister(this)" class="ui positive button">글쓰기</button>
<button type="reset" onclick="resetf()" class="ui button">취소</button>
</div>
</form>
</div>
<script type="text/javascript">
    var oEditors = [];
    
    // 추가 글꼴 목록
    //var aAdditionalFontSet = [["MS UI Gothic", "MS UI Gothic"], ["Comic Sans MS", "Comic Sans MS"],["TEST","TEST"]];
    
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "ir1",
        sSkinURI: "/editor/SmartEditor2Skin.html",	
        htParams : {
            bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
            bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
            bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
            //bSkipXssFilter : true,		// client-side xss filter 무시 여부 (true:사용하지 않음 / 그외:사용)
            //aAdditionalFontList : aAdditionalFontSet,		// 추가 글꼴 목록
            fOnBeforeUnload : function(){
                //alert("완료!");
            }
        }, //boolean
        fOnAppLoad : function(){
            //예제 코드
            //oEditors.getById["ir1"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
        },
        fCreator: "createSEditor2"
    });
    
    function resetf(){
        location.href="/construct"
    }
    function pasteHTML() {
        var sHTML = "<span style='color:#FF0000;'>이미지도 같은 방식으로 삽입합니다.<\/span>";
        oEditors.getById["ir1"].exec("PASTE_HTML", [sHTML]);
    }
    
    function showHTML() {
        var sHTML = oEditors.getById["ir1"].getIR();
        alert(sHTML);
    }
    /*    
    function submitContents(elClickedObj) {
        oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);	// 에디터의 내용이 textarea에 적용됩니다.
        
        // 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("ir1").value를 이용해서 처리하면 됩니다.
        
        
        //선택태그 배열화
        let tag_select = document.getElementById("tag_select").options;
        let tags = [];
        for(i in tag_select){
            if(tag_select[i].selected){
                tags.push(encodeURIComponent(tag_select[i].value));
            }
        }
        
        //공간태그 배열화
        let space_select = document.getElementById("space_select").options;
        let spaces = [];
        for(i in space_select){
            if(space_select[i].selected){
                spaces.push(encodeURIComponent(space_select[i].value));
            }
        }
        $.ajax({
                    url:'example.php',
                    type:'POST',
                    data: {
                        Name:'ajax',
                        Age:'10'
                    },// 전송할 데이터
                    dataType:'text',// xml, json, script, html
                    success:function(jqXHR) {},// 요청 완료 시
                    error:function(jqXHR) {}// 요청 실패.
        });
        
        try {
            elClickedObj.form.submit();
        } catch(e) {}
    }
    */
    
    function setDefaultFont() {
        var sDefaultFont = '궁서';
        var nFontSize = 24;
        oEditors.getById["ir1"].setDefaultFont(sDefaultFont, nFontSize);
    }
    
function constructRegister(obj){
    oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
    
    let subject = encodeURIComponent(document.getElementById("subject").value);
    
    let ir1 = encodeURIComponent(document.getElementById("ir1").value);
    
    
    construct_pic_flag=true;
    var loader = document.createElement('div');
    loader.className = 'ui active inverted mini centered inline loader';
    obj.innerHTML="";
    obj.appendChild(loader);
    obj.disabled=true;
    
    //제목정보
    
    //내용정보
    
    
    //선택태그 배열화
    let tag_select = document.getElementById("tag_select").options;
    let tags = [];
    for(i in tag_select){
        if(tag_select[i].selected){
            tags.push(encodeURIComponent(tag_select[i].value));
        }
    }
    
    //공간태그 배열화
    let space_select = document.getElementById("space_select").options;
    let spaces = [];
    for(i in space_select){
        if(space_select[i].selected){
            spaces.push(encodeURIComponent(space_select[i].value));
        }
    }
    
    var mainImage = document.getElementById("mainImage").files[0];
    
    var formData = new FormData();
    formData.append('subject',subject);
    formData.append('tags',tags);
    formData.append('space',spaces);
    formData.append('mainImage',mainImage);
    formData.append('ir1',ir1);    
        
    setTimeout(function(){
    $.ajax({
       url:'/api/addConstruct/',
       dataType: 'json',
       processData: false,
       contentType: false,
       data: formData,
       type: 'POST',
       success: function(result){
          console.log(result);
          if(result.result=="Success"){
             alert("등록 성공");
          }else{
             alert("등록 실패");
          }
          obj.disabled =false;
          $(obj).text("등록");
          $(obj).children().remove();
          construct_pic_flag=false;
       },
       error:function(request,status,error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            obj.disabled =false;
            $(obj).text("등록");
            $(obj).children().remove();
            construct_pic_flag=false;
       }
    });
    },1000);
    
    
}
    </script>
