.card_main{
    clear:both;
    position:relative;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:5px;
    width:1124px;
    height:360px;
    padding-left:10px;
}

.card_slider_header{
    margin:0 auto;
    margin-bottom:40px;
    font-size:1.3em;
    font-weight:400;
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
}
.card_slider_header_more{
    position:absolute;
    right:20px;
    font-size:0.7em;
    font-weight:bold;
    text-decoration:underline;
    cursor:pointer;
}